# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# target folder
KeyboardConverter

# project files
*.geany

# ignore changes in the submodule
tmk_keyboard

